@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}

form {
    box-shadow: 0 0 1rem 0 #86ff4b;
}

.residentCard {
    box-shadow: 0 0 .8rem 0 #86ff4b;
}

.locationSection {
    box-shadow: 0 0 .8rem 0 #e9e9e8;
}

.pageButton {
    box-shadow: 0 0 .5rem 0 #86ff4b;
}